## Include
include README.md COPYING COPYING.lesser NOTICE
recursive-include compiler *.py *.tl *.tsv *.txt
recursive-include tests *.py

## Exclude
prune hydrogram/errors/exceptions
prune hydrogram/raw/functions
prune hydrogram/raw/types
prune hydrogram/raw/base
exclude hydrogram/raw/all.py
